:root {
    --dark-grey: #4a4a4a;
    --aqua: #3CDBC0;
    --white: #FFFFFF;
}

html, body {
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: var(--aqua);
    margin: 0;
}

header{
    background-color: var(--white);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.logo{
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 16px;
    padding: 30px 0px 15px 0px;
    margin: 0;
}

.menu-item{
    text-decoration: none;
    color: var(--dark-grey);
    padding:10px 20px;
    text-transform: uppercase;
}

.lema{
    color: var(--white);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}